# {{ ansible_managed }}

*filter
:INPUT {{ iptables_filter_input_policy|upper }} [0:0]
:FORWARD {{ iptables_filter_forward_policy|upper }} [0:0]
:OUTPUT {{ iptables_filter_output_policy|upper }} [0:0]

-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP
{% for rule in iptables_filter_rules %}
{% if rule.chain|lower == "input" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} -m conntrack --ctstate NEW {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% elif rule.protocol|lower == "tcp" %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} -p {{ rule.protocol|lower }} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} --syn -m conntrack --ctstate NEW {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% else %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} -m conntrack --ctstate NEW {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% endif %}
{% endif %}
{% endfor %}

-A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
{% for rule in iptables_filter_rules %}
{% if rule.chain|lower == "forward" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% else %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% endif %}
{% endif %}
{% endfor %}

-A OUTPUT -p icmp --icmp-type redirect -j DROP
{% for rule in iptables_filter_rules %}
{% if rule.chain|lower == "output" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% else %}
-A {{ rule.chain|upper }} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% endif %}
{% endif %}
{% endfor %}

COMMIT

*nat
:PREROUTING {{ iptables_nat_prerouting_policy|upper }} [0:0]
:INPUT {{ iptables_nat_input_policy|upper }} [0:0]
:OUTPUT {{ iptables_nat_output_policy|upper }} [0:0]
:POSTROUTING {{ iptables_nat_postrouting_policy|upper }} [0:0]

-A PREROUTING -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
{% for rule in iptables_nat_rules %}
{% if rule.chain|lower == "prerouting" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} {% if rule.to_destination is defined -%} -j DNAT --to-destination {{ rule.to_destination }} {% else %} -j ACCEPT {% endif -%}
{% else %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_addres is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} {% if rule.to_destination is defined -%} -j DNAT --to-destination {{ rule.to_destination }}{% if rule.to_port is defined -%}:{{ rule.to_port }}{% endif -%} {% else %} -j ACCEPT {% endif -%}
{% endif %}
{% endif %}
{% endfor %}

{% for rule in iptables_nat_rules %}
{% if rule.chain|lower == "input" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% else %}
-A {{ rule.chain|upper }} {% if rule.in_interface is defined -%} -i {{ rule.in_interface }} {% endif -%} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% endif %}
{% endif %}
{% endfor %}

{% for rule in iptables_nat_rules %}
{% if rule.chain|lower == "output" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% else %}
-A {{ rule.chain|upper }} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} -j ACCEPT
{% endif %}
{% endif %}
{% endfor %}

-A POSTROUTING -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
{% for rule in iptables_nat_rules %}
{% if rule.chain|lower == "postrouting" %}
{% if rule.protocol|lower == "icmp" %}
-A {{ rule.chain|upper }} -p {{ rule.protocol|lower }} {% if rule.icmp_type is defined -%} --icmp-type {{ rule.icmp_type }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} {% if rule.to_destination is defined -%} -j SNAT --to {{ rule.to_destination }} {% else %} -j ACCEPT {% endif -%}
{% else %}
-A {{ rule.chain|upper }} {% if rule.protocol is defined -%} -p {{ rule.protocol|lower }} {% endif -%} {% if rule.source_address is defined -%} -s {{ rule.source_address }} {% endif -%} {% if rule.source_port is defined -%} --sport {{ rule.source_port }} {% endif -%} {% if rule.destination_address is defined -%} -d {{ rule.destination_address }} {% endif -%} {% if rule.destination_port is defined -%} --dport {{ rule.destination_port }} {% endif -%} {% if rule.out_interface is defined -%} -o {{ rule.out_interface }} {% endif -%} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {% endif -%} {% if rule.to_destination is defined -%} -j SNAT --to {{ rule.to_destination }} {% else %} -j ACCEPT {% endif -%}
{% endif %}
{% endif %}
{% endfor %}

COMMIT
